<!DOCTYPE html>
<html>
<head>
  <title>Pearbnb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="<%=root_path%>">PEARBNB</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="<%=root_path%>">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Listings
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/listings">All Listings</a></li>
            <li><a href="#">My Listings</a></li>
            <li><a href="/listings/new">Create Listing</a></li> 
          </ul>
        </li>
        <li><%= form_tag listings_path, :method => 'get',class: "navbar-form" do%>
          <div class="input-group">
            <%=text_field_tag 'tag', params[:tag], placeholder: "Search Tags", class: 'form-control'%>
            <span class="input-group-btn">
            <%= button_tag(type: 'submit', class: 'btn btn-default') do %>
              <span
                class="glyphicon glyphicon-search">
              </span>
              <%end%>
              </span>
          </div>  
        <%end%>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if signed_in? %>
          <li><a href="/users/<%=current_user.id%>"> Signed in as <%= current_user.name%></a></li>
          <li><%= link_to 'Sign out', sign_out_path, method: :delete %></li>
        <% else %>
          <li><a href="<%=sign_in_path%>"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <li><a href="/auth/facebook"><span class="glyphicon glyphicon-user"></span> Connect With Facebook</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div id="flash">
  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>
</div>

<%= yield %>

</body>
</html>
